services:
  node:
    build: .
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgres://postgres:root@postgrest-demo-db-1:5432/tpf_docs

  db:
    image: postgres:15
    container_name: postgrest-demo-db-1